.section__meetourteam{
	height: 700px;
}

.section__meetourteam--personbox {
	img{
	width: 300px;
	height: auto;
	position: relative;
	}
}

.section__meetourteam--persondescription{
	text-align: center;
	padding-top:20px;
}