.separator{
}
.btn{
}

body{
	
}




/*------------------------------------------*/
header{
	margin: 30px 0px 30px 0px;
}

.separator{
	border: solid 2px rgb(243,129, 129);
	width:68px;
	margin-left: auto;
	margin-right: auto;
}

.separator2{
	border: solid 1px #aaa;
	width: 100px;
	overflov: hidden;
	margin-bottom:10px;

}

.btn{
	padding-top:20px;
	display: inline-block;
	display: -webkit-flex;
	border-radius: 5px;
	
}

.btn a:hover{
	color: #eee;
	box-shadow: 2px 2px #666;
	transform: translateY(1px);
}

.btn a:active {
  box-shadow: 2px 2px #666;
  transform: translateY(2px);
}

.btn a{
	border:solid 1px white;
	border-radius: 3px;
	padding:10px;
	
}

.a{
	text-decoration: none;
	underline: none;
	color: white;
}

.bg{
	background: url(img/bg.jpg) no-repeat center;
	background-size: 100% 100%;
	z-index: 1;
	
}

.UDbg{
	background: url(img/UDbg.jpg) no-repeat center;
	background-size: 100% 100%;
	z-index: 1;
}

.Mapbg{
	background: url(img/LBmapbg.jpg) no-repeat center;
	background-size: 100% 100%;
}

.WPSbg{
	background: url(img/WPSbg.jpg) no-repeat center;
	background-size: 100% 100%;
}

.SAUbgGreen{
	background-color: #3bd3ba;
	width: 100%;
	height: 100%;
	color: white;
}


.overlayOrange{
	background: linear-gradient(rgba(219, 116, 117, 0.6), rgba(228, 205, 125, 0.75));
	width: 100%;
	height: 100%;
	color: white;
}

.overlayWhite{
	background-color: rgba(237, 237, 237, 0.80);
	width: 100%;
	height: 100%;
	color: black;
}

.overlayGrey{
	background-color: rgba(76, 61, 114, 0.1);
	width: 100%;
	height: 100%;
}

.hover{		
}

.inline-block{
	display: inline-block;
	display: -webkit-flex;
}



/*------------IMAGE HOVER------------------*/

.image-hover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.image-hover-container {
    position: relative;
    width: 50%;
}

.image-hover-container:hover .image-hover {
  opacity: 0.3;
  box-shadow: 5px 5px #666;
  transform: translateY(5px);
  transform: translateX(5px);
}

.image-hover-container:hover .middle {
  opacity: 1;
}
/*------------------------------------------*/


#Header{
	height: 850px;
}

#HeaderStickMenu{
	height: 25px;
	padding:10px;
}

#HeaderStickMenu ul li a {
	text-transform: uppercase;
}

#HeaderStickMenu ul li:hover{
	border-bottom: solid 2px rgb(243,129, 129);
	padding-bottom: 10px;
	color: rgb(243,129, 129);
}


#HeaderCenter{
	height: 500px;
	text-align:center;
	padding: 100px;
}

#HeaderBottom{
	margin-top: 10px;
	height: 72px;
	display: inline-block;
	display: -webkit-flex;
}


.HeaderBottomBox{
	padding: 20px;
	width: 20%;
}


.HeaderBottomBox:hover{
	border-bottom: solid 2px rgb(243,129, 129);
	padding-bottom: 20px;
	color: rgb(243,129, 129);
	transform: translateY(5px);
}

/*------------------------------------------*/
.a-s-img{
	padding-right:15px;
}

#AmazingServicesBottom{
	height: 700px;
}

.AmazingServicesBottomOneBox{
	margin: 0px 0px 0px 0px;
	padding-top: 30px;
}

#StoryAboutUsBottom{
	display: inline-block;
	display: -webkit-flex;
	
}

.StoryAboutUsBottomBox{
	text-align:center;
}

.StoryAboutUsBoxPics img{
	margin: 10px;
	width: 100%;
	height: 100%;
}

#what-we-do-left{
	height: 500px;
}

#what-we-do-left img{
	width: 100%;
}

#MeetOurTeam{
	height: 800px;
}

#wwd-ul-li ul, ul li{
		display:block;
		list-style:none;
}

.mot-box img{
	width: 300px;
	height: auto;
	position: relative;
}

.mot-box-div{
	text-align: center;
	padding-top:20px;
}

#SomeOfOurWork{
	
}

#SomeOfOurWorkHeader{
	
}

#SomeOfOurWorkPics{
	position: relative;
	height: 800px;
}

#portfolio{
	display: inline-block;
	display: -webkit-flex;
}

.p_i_p{
	position: absolute;
	display: inline-block;
	display: -webkit-flex;
}

.portfolio_item1{
	left: 0px;
	top: 0px;
}

.portfolio_item2{
	left: 664px;
	top: 0px;
}

.portfolio_item3{
	left: 0px;
	top: 392px;
}

.portfolio_item4{
	left: 664px;
	top: 392px;
}

.portfolio_item5{
	left: 1328px;
	top: 0px;
}

.portfolio_item6{
	left: 1992px;
	top: 0px;
}

.portfolio_item7{
	left: 1992px;
	top: 392px;
}

.soow-slider{
	margin: 10px;
	padding: 90px;
}

.soow-pic{
	margin: 10px;
	padding: 20px;
}

#map{
	height:200px;
}

#latest-blog-bottom{
	margin: 80px;
	text-align: center;
	color:#f38181;
}

.what-people-say-box{
	margin: 20px 10px 30px 10px;
}

.wps-img{
	margin: 8px 20px 0px 20px;
}

.wps-p{
	width:250px;
}

/*--------------COUNTER----------------------------*/


#shiva
{
  width: 100px;
	height: 100px;
	background: #3bd3ba;
  float:left;
  margin:1px;
  padding: 10px;
}
.count
{
  line-height: 50px;
  color:white;
  margin-left:30px;
  font-size:25px;
}

.counter-text{
  color:white;
  font-size:20px;
  text-align: center;
}

/*------------------------------------------*/
/*------------------------------------------*/