.btn{
	padding-top:20px;
	display: inline-block;
	display: -webkit-flex;
	border-radius: 5px;

	a{
		border:solid 1px white;
		border-radius: 3px;
		padding:10px;

		&:hover{
			color: #eee;
			box-shadow: 2px 2px #666;
			transform: translateY(1px);
		}
		&:active {
			box-shadow: 2px 2px #666;
			transform: translateY(2px);
		  }
	}
}