@media only screen and (min-width:632px){



/*--------------------------------------------------*/

  /*------------------------------------------*/




#portfolio{
	text-align: center;
}




.p_i_p{
	//width: 25%;
	position: absolute;
	display: inline;
	img{
		max-width: 100%;
		vertical-align: middle;
	}
}


//backgroud-image, 

.portfolio_item1{
	@include portfolio_item(0%, 0%, absolute, 25%)
}

.portfolio_item2{
	@include portfolio_item(25%, 0%, absolute, 25%)
}

.portfolio_item3{
	@include portfolio_item(0%, 50%, absolute, 25%)
}

.portfolio_item4{
	@include portfolio_item(25%, 50%, absolute, 25%)
}

.portfolio_item5{
	@include portfolio_item(50%, 0%, absolute, 25%)
}

.portfolio_item6{
	@include portfolio_item(75%, 0%, absolute, 25%)
}

.portfolio_item7{
	@include portfolio_item(75%, 50%, absolute, 25%)
}


.someofourwork__slider{
	margin: 10px;
	padding: 90px;
}

.someofourwork__slider--pic{
	margin: 10px;
	padding: 20px;
}

#latest-blog-bottom{
	margin: 80px;
	text-align: center;
	color:#f38181;
}


.latestblog__box{
	img{
		width: 100%;
	}
}






}//media screen