@media only screen and (min-width: 632px) {
  header {
    margin: 0px 0px 0px 0px; }
  .header__background {
    background: url(img/bg.jpg) no-repeat center;
    background-size: 100% 100%;
    z-index: 1;
    height: 850px; }
  .section__UniqueDesign--background {
    background: url(img/UDbg.jpg) no-repeat center;
    background-size: 100% 100%;
    z-index: 0; }
  .section__map--background {
    background: url(img/LBmapbg.jpg) no-repeat center;
    background-size: 100% 100%;
    z-index: 0;
    height: 200px; }
  .WPSbg {
    background: url(img/WPSbg.jpg) no-repeat center;
    background-size: 100% 100%;
    z-index: 0; }
  .overlayOrange {
    background: linear-gradient(rgba(219, 116, 117, 0.6), rgba(228, 205, 125, 0.75));
    widows: 100%;
    height: 100%;
    color: white; }
  .overlayWhite {
    background: rgba(237, 237, 237, 0.8);
    widows: 100%;
    height: 100%;
    color: black; }
  .overlayGrey {
    background: rgba(76, 61, 114, 0.1);
    widows: 100%;
    height: 100%; }
  .section__counter--background {
    background: #3bd3ba;
    widows: 100%;
    height: 100%;
    color: white; }
  .btn {
    padding-top: 20px;
    display: inline-block;
    display: -webkit-flex;
    border-radius: 5px; }
    .btn a {
      border: solid 1px white;
      border-radius: 3px;
      padding: 10px; }
      .btn a:hover {
        color: #eee;
        box-shadow: 2px 2px #f0d1d1;
        transform: translateY(1px); }
      .btn a:active {
        box-shadow: 2px 2px #666;
        transform: translateY(2px); }
  .a {
    text-decoration: none;
    color: white; }
  .separator {
    border: solid 2px #f38181;
    width: 20%;
    margin-left: auto;
    margin-right: auto; }
  .separator2 {
    border: solid 1px #aaa;
    width: 40%;
    overflow: hidden;
    margin-bottom: 10px; }
  .inline-block {
    display: inline-block;
    display: -webkit-flex; }
  /*--------------------------------------------------*/
  #header__stickmenu--position {
    height: 25px;
    padding: 10px; }
    #header__stickmenu--position ul li {
      text-transform: uppercase; }
      #header__stickmenu--position ul li:hover {
        border-bottom: solid 2px #f38181;
        padding-bottom: 10px;
        color: #f38181; }
    #header__stickmenu--position a {
      text-transform: uppercase; }
  .header__center {
    height: 500px;
    text-align: center;
    padding: 100px; }
  .header__bottom {
    margin-top: 10px;
    height: 72px;
    display: -webkit-flex; }
  .header__bottombuttons {
    padding: 20px;
    width: 20%; }
    .header__bottombuttons:hover {
      border-bottom: solid 2px #f38181;
      padding-bottom: 20px;
      color: #f38181;
      transform: translateY(5px); }
  /*--------------COUNTER----------------------------*/
  #shiva {
    width: calc(100% / 6);
    height: 10%;
    background: #3bd3ba;
    float: left;
    margin: 4px 0px 4px 0px; }
  .count {
    line-height: 50px;
    color: white;
    margin-left: 30px;
    font-size: 25px; }
  .counter-text {
    color: white;
    font-size: 20px;
    text-align: center; }
  /*------------IMAGE HOVER------------------*/
  .image-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .image-hover-container {
    position: relative;
    width: 50%; }
  .image-hover-container:hover .image-hover {
    opacity: 0.3;
    box-shadow: 5px 5px #666;
    transform: translateY(5px);
    transform: translateX(5px); }
  .image-hover-container:hover .middle {
    opacity: 1; }
  /*------------------------------------------*/
  /*------------------------------------------*/
  .a-s-img {
    padding-right: 15px; }
  #AmazingServicesBottom {
    height: 500px; }
  .AmazingServicesBottomOneBox {
    margin: 0px 0px 0px 0px;
    padding-top: 30px; }
  .section__counter {
    display: inline-block;
    display: -webkit-flex; }
  .StoryAboutUsBoxPics img {
    margin: 10px;
    width: 100%;
    height: 100%; }
  #what-we-do-left {
    height: 500px; }
  #what-we-do-left img {
    width: 100%; }
  #MeetOurTeam {
    height: 800px; }
  #wwd-ul-li ul, ul li {
    display: block;
    list-style: none; }
  .mot-box img {
    width: 300px;
    height: auto;
    position: relative; }
  .mot-box-div {
    text-align: center;
    padding-top: 20px; }
  #portfolio {
    text-align: center; }
  #SomeOfOurWorkPics {
    position: relative;
    height: 600px; }
  .p_i_p {
    width: 25%;
    position: absolute;
    display: inline; }
    .p_i_p img {
      max-width: 100%;
      vertical-align: middle; }
  .portfolio_item1 {
    left: 0%;
    top: 0%;
    position: absolute;
    width: 25%; }
  .portfolio_item2 {
    left: 25%;
    top: 0%;
    position: absolute;
    width: 25%; }
  .portfolio_item3 {
    left: 0%;
    top: 50%;
    position: absolute;
    width: 25%; }
  .portfolio_item4 {
    left: 25%;
    top: 50%;
    position: absolute;
    width: 25%; }
  .portfolio_item5 {
    left: 50%;
    top: 0%;
    position: absolute;
    width: 25%; }
  .portfolio_item6 {
    left: 75%;
    top: 0%;
    position: absolute;
    width: 25%; }
  .portfolio_item7 {
    left: 75%;
    top: 50%;
    position: absolute;
    width: 25%; }
  .soow-slider {
    margin: 10px;
    padding: 90px; }
  .soow-pic {
    margin: 10px;
    padding: 20px; }
  #latest-blog-bottom {
    margin: 80px;
    text-align: center;
    color: #f38181; }
  .what-people-say-box {
    margin: 20px 10px 30px 10px; }
  .wps-img {
    margin: 8px 20px 0px 20px; }
  .wps-p {
    width: 250px; }
  .LatestBlogBox img {
    width: 100%; }
  /*---FOOTER---------------------------------*/
  .FooterRightPic {
    width: calc(100% / 3);
    display: inline-flex;
    float: left; }
    .FooterRightPic img {
      width: 100%; }
  /*------------------------------------------*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both; } }
